main {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        max-width: 1280px;
        margin: 0 auto;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 18px;
        width: 100%;
        text-align: center;
        margin: 0;

        li {
            width: 50%;
        }
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: var(--white);
        font-weight: 700;
        font-size: 3.125rem;
        padding: 10px 2%;
        background-color: var(--purple);
        border-radius: 50px;
        transition: 0.4s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

    }
}

@media screen and (max-width: 450px) {
    main {
        a {
            font-size: 2.125rem;
        }
    }
}