header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    padding: 20px 2%;

    background-color: var(--purple);
    border-bottom: 2px solid var(--bg-color);    
    box-shadow: 1px 1px 10px -3px var(--white);

    img {
        width: 200px;
    }
}