.album-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;

    .album {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        margin: 10px 2%;
        width: 29%;
        min-height: 180px;

        background: rgba(107, 37, 202, 0.65);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border-radius: 10px;


        h3 {
            text-align: center;
            margin: 8px 0;
            font-weight: 700;
        }

        p {
            padding: 12px;
        }

    }
}

@media screen and (max-width: 768px) {
    .container .album-boxes .album {
        width: 70%;
    }
}